* {
    margin: 0;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.title {
    margin-top: 25px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    text-align: center;
    color :white;
}

.subtitle {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    color: white;
}

.section {
    background-color: lightblue;
    background-position: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px
}

.key {
    width: 75px;
    height: 25px;
}

.result {
    height: 100%;
    width: 90%;
    border: solid 1px black;
    &__text{
        word-wrap: break-word;
        font-size: 24px;
    }
}

