* {
    margin: 0;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.title {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    text-align: center;
    color :white;
}


.main {
    background-color: lightblue;
    background-position: cover;
    width: 100vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px
}


.decrypted {
    height: 300px;
    border: solid 1px black;
    &__text{

        height: 10px;
    }
}